<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a href="https://www.facebook.com/share/1BUAVK5X23/" target="_blank"
        ><i class="fa-brands fa-square-facebook"></i
      ></a>
      <a
        href="https://www.instagram.com/i_t_z___i_r_f_a_n?igsh=NDJhcHkxdTI0ZzYy"
        id="insta"
        target="_blank"
        ><i class="fa-brands fa-square-instagram"></i
      ></a>
      <a
        href="https://www.linkedin.com/in/md-irfan-2623b4210?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
        target="_blank"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
    </div>
    <div class="f-info-brand">&copy; WanderLus private limited</div>
    <div class="f-info-links">
      <form action="/privacy" method="get" class="pt-btn">
        <button>Privacy</button>
      </form>

      <form action="/terms" method="get" class="pt-btn">
        <button>terms</button>
      </form>
    </div>
  </div>
</footer>
