#filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.filter {
  margin-top: 2rem;
  text-align: center;
  margin-right: 2rem;
  opacity: 0.7;
}

.filter:hover {
  opacity: 1;
  cursor: pointer;
}

.filter p {
  font-size: 0.8rem;
}

.tax-info {
  display: none;
}

.tax-toggle {
  border: 1px solid #000;
  border-radius: 1rem;
  padding: 1rem;
  height: 3.25rem;
  margin-left: 2rem;
  display: flex;
  align-items: center;
}

/* category */

.category-btn {
  border: none;
  background: none;
}
